In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('patients_100.csv')

In [3]:
reqd = df[(df.UID == 10)]  # 
reqd

,UID,Sex,DOB,Race,CRace,Ethnicity,CEthnicity,FName,LName,Insurance,...,Skin Infection,Frequent Urination,number of procedures,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
51,10,M,6/14/1951,Black or African American,B,Not Hispanic,NH,Alfred,RODRIGUEZ,Private,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,10,M,6/14/1951,Black or African American,B,Not Hispanic,NH,Alfred,RODRIGUEZ,Private,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
trimmed_data = reqd[['UID', 'Insurance', 'Age', 'Date Visited', 'number of procedures']]

In [5]:
trimmed_data

     UID Insurance  Age Date Visited  number of procedures
51    10   Private   68    4/25/2019                   NaN
222   10   Private   68    8/12/2019                   NaN

In [6]:
dates_ = reqd['Date Visited']
dates_

51     4/25/2019
222    8/12/2019
Name: Date Visited, dtype: object

In [7]:
import datetime
dates = [datetime.datetime.strptime(ts, "%m/%d/%Y") for ts in dates_]
dates.sort()

In [8]:
if len(dates) == 1:
    prev = 0
    
else:
    latest = dates[-1] - dates[-2]
    
    if latest.days <= 30:
        prev = 1
        
    else:
        prev = 0

In [9]:
prev

0

In [10]:
last = dates[-1]

In [11]:
last

datetime.datetime(2019, 8, 12, 0, 0)

In [12]:
trimmed_data['Date Visited'] =  pd.to_datetime(trimmed_data['Date Visited'], format="%m/%d/%Y")

C:\Users\Kanishk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
trimmed_data['Date Visited']

51    2019-04-25
222   2019-08-12
Name: Date Visited, dtype: datetime64[ns]

In [15]:
df = trimmed_data[trimmed_data['Date Visited'] == last]

In [16]:
df['visited'] = prev

C:\Users\Kanishk\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df

     UID Insurance  Age Date Visited  number of procedures  visited
222   10   Private   68   2019-08-12                   NaN        0